<select class="js-example-basic-single text-body-emphasis" name="state" style="width: 100%" >
    <option></option>
    <option value="general">Ask a General Question</option>
    <option value="consultation">Schedule a Consultation</option>
    <option value="barter">Propose a Trade / Barter</option>
    <option value="collaboration">Propose a Collaboration</option>
    <option value="idea">Pitch a Project Idea</option>

</select>

<script>
   // In your Javascript (external .js resource or <script> tag)
   $(document).ready(function() {
       $('.js-example-basic-single').select2({
           dropdownParent: $('#modal-1'),
            placeholder:"Select another contact form"
       });
   });
</script>