
<style>
    #modal-1 #select2-state-w0-result-z0bw-general {
        display:none;
    }
</style>

<select class="js-example-basic-single text-body-emphasis" name="state" style="width: 100%" >
    <option></option>
    <option value="general">Ask a General Question</option>
    <option value="consultation">Schedule a Consultation</option>
    <option value="barter">Propose a Trade / Barter</option>
    <option value="collaboration">Propose a Collaboration</option>
    <option value="idea">Pitch a Project Idea</option>

</select>

<script>
   // In your Javascript (external .js resource or <script> tag)
   $(document).ready(function() {
       $('.js-example-basic-single').select2({
           dropdownParent: $('#modal-1'),
            placeholder:"Select another contact form",
            width: "100%",
            minimumResultsForSearch: Infinity
       });

       // These two lines are a work around to help the select2 get oriented in space (it was offset by scroll bar width)
        $('.js-example-basic-single').select2('open')
        $('.js-example-basic-single').select2('close')

             $('.js-example-basic-single').on('select2:select', function(e) {
               var data = e.params.data;
                const formType = data.id

                if(formType == "consultation"){
                    // open-seasme the consultiation
                     openSesame('createPremiumContactForm')
                } else if (formType == "general"){
                    openSesame("createContactForm")
                }
            })

       
   });
</script>