@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="wo-body-background">

    <div class="container body-section bg-body card">
        @* Hero/Signup form *@
        <div class="container px-4 py-5">
            <div class="row align-items-center g-lg-5 py-5">
                <div class="col-lg-7 text-center text-lg-start">
                    <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">Sign up for a newsletter</h1>
                    <p class="col-lg-10 fs-4">When I build cool projects that I'd like to share I will make announcements. If you'd like to be one of the first to get updates, let me know by signing up here.</p>
                </div>
                <div class="col-md-10 mx-auto col-lg-5">
                    <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" fdprocessedid="tnt28b">
                            <label for="floatingInput">Email address</label>
                        </div>


                        <button class="w-100 btn btn-lg btn-primary" type="submit" fdprocessedid="s0qjmb">Sign up for newsletter</button>
                        [Todo: Add Google ReCaptcha]
                        <hr class="my-4">
                        <small class="text-body-secondary">By clicking Sign up, you agree to the terms to periodically receive emails from me.</small>
                    </form>
                </div>
            </div>
        </div>

    </div>

</div>
