@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<div class="wo-body-background">

    <style>

        #thingICouldBuild ul {
            /* list-style-type:none; */
            /* padding-left: 0; */
        }
    </style>
    <div class="container" id="thingICouldBuild">

        <h1 class="ff-consolas text-center ">Things I Could Build</h1>

        @* MASONRY SECTION *@
        <div class="row" data-masonry="{&quot;percentPosition&quot;: true }" style="position: relative; height: 1187.33px;">
            <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 0%; top: 0px;">
                <div class="card body-section">

                    <div class="card-body">
                        <h5 class="card-title">Integrations with the Google Cloud</h5>
                        <p class="card-text">
                            <i>Interact with Google accounts via your custom website</i>
                            <ul>
                                <li>Access to Google's 100+ services</li>
                                <li>Google OAuth Integration</li>
                                <li>Automate business workflows with Docs, Sheets, and Drive</li>
                            </ul>

                            <i class="text-center d-block">Get the full power out of your Google email</i>
                            <button class="btn btn-outline-info mx-auto d-block mt-3 fw-bold">Learn more</button>
                        </p>


                    </div>

                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 50%; top: 0px;">
                <div class="card body-section">
                    <div class="card-body">
                        <h5 class="card-title">Websites to promote businesses</h5>
                        <p class="card-text">
                            I can completely customize a website to promote your business.
                            <br />
                            <br />
                            <i class="text-center d-block">Only limited by your imagination.</i>


                            <ul>
                                <li>Any layouts</li>
                                <li>Any business logic</li>
                                <li>Quick development</li>
                            </ul>



                        </p>


                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 50%; top: 251.333px;">
                <div class="card body-section">

                    <div class="card-body">
                        <h5 class="card-title">Hobby Websites</h5>
                        <p class="card-text">
                            <ul>
                                <li>Showcase your hobby to the world     </li>
                                <li>Share it in the way that makes sense to you.</li>
                                <li><b>Don't</b> limit yourself by what you can do with <i>"Site Builders".</i></li>
                            </ul>



                    </div>
                    <hr class="my-0">
                    <div class="card-body text-center">
                        <div class="text-center">
                            If you are already using a site builder, <strong>that is okay!</strong>
                        </div>
                        <br />
                        <i>I can build custom solutions that clasp to any existing deployments through utilizing subdomains</i>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 0%; top: 433.333px;">
                <div class="card text-bg-primary text-center p-3 body-section ">
                    @* Images of technology stack *@

                    @* HTML, CSS, JS,  *@
                    <style>
                        .tech-stack {
                            width: 50px;
                            height: fit-content;
                        }
                    </style>
                    <h2>My tech stack</h2>
                    <div class="d-flex flex-wrap justify-content-around card-body">

                        <img class="tech-stack" src="~/images/tech-stack/csharp.svg" />
                        <img class="tech-stack" src="~/images/tech-stack/bootstrap.svg" />
                        <img class="tech-stack" src="~/images/tech-stack/html-5.svg" />
                        <img class="tech-stack" src="~/images/tech-stack/css-3.svg" />
                        <img class="tech-stack" src="~/images/tech-stack/sass.svg" />
                        <img class="tech-stack" src="~/images/tech-stack/js.svg" />
                        <img class="tech-stack" src="~/images/tech-stack/typescript.svg" />
                        <img class="tech-stack" src="~/images/tech-stack/d3.svg" />
                        <img class="tech-stack" src="~/images/tech-stack/gsap.svg" />
                        <img class="tech-stack" src="~/images/tech-stack/react.svg" />
                        <img class="tech-stack" src="~/images/tech-stack/vue.svg" />
                        <img class="tech-stack" src="~/images/tech-stack/svelte.svg" />
                        <img class="tech-stack" src="~/images/tech-stack/node-js.svg" />
                        <img class="tech-stack" src="~/images/tech-stack/socket-io.svg" />
                        <img class="tech-stack" src="~/images/tech-stack/webpack.svg" />
                        <img class="tech-stack" src="~/images/tech-stack/firebase.svg" />
                        <img class="tech-stack" src="~/images/tech-stack/gcp.svg" />
                        <img class="tech-stack" src="~/images/tech-stack/gas.svg" />
                        <img class="tech-stack" src="~/images/tech-stack/inkscape.svg" />
                        <img class="tech-stack" src="~/images/tech-stack/vs-code.svg" />
                        <img class="tech-stack" src="~/images/tech-stack/visual-studio.svg" />
                        <img class="tech-stack" src="~/images/tech-stack/git.svg" />
                        <img class="tech-stack" src="~/images/tech-stack/github.svg" />
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 0%; top: 622.666px;">
                <div class="card  body-section">
                    <div class="card-body">
                        <h5 class="card-title">Chat Rooms/Simple Multi-Player Games</h5>
                        <ul>
                            <li>Use WebSocket technologies to utilize real-time data logic. </li>
                            <li>Use "Rooms" to have self-contained real-time context.</li>
                            <li>Integrate WebSockets in some creative way yet not thought of</li>
                        </ul>

                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 0%; top: 823.999px;">
                <div class="card text-end body-section">
                    <div class="card-body">
                        <h5 class="card-title">Complex User Interfaces</h5>

                        <p> </p>

                        <ul class="right-marker" style="padding-right: 30px;">
                            <li>Vanilla HTML and CSS <span style="font-size:23px; line-height: 0;">&#8226;</span> </li>
                            <li>Responsive Design <span style="font-size:23px; line-height: 0;">&#8226;</span> </li>
                            <li>Recursive Interfaces <span style="font-size:23px; line-height: 0;">&#8226;</span></li>
                            <li>Sprite Manipulation <span style="font-size:23px; line-height: 0;">&#8226;</span></li>
                            <li>Drag and Drop Interfaces <span style="font-size:23px; line-height: 0;">&#8226;</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 0%; top: 823.999px;">
                <div class="card text-start body-section">
                    <div class="card-body">
                        <h5 class="card-title text-center">Extensions and Plugins</h5>

                        <p class="">
                            Many programs have the feature offer plugin support, and I can do coding portion of making the plugin.
                            This may be able to help superpower your workflow with in a familiar program.
                        </p>
                        <p>

                        </p>

                        <h5>Examples</h5>
                        <ul class="text-start" style="">
                            <li>Browser Extensions</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 50%; top: 937.999px;">
                <div class="card body-section">
                    <div class="card-body">
                        <h5 class="card-title">APIs & 3rd Party Integrations</h5>
                        <ul>
                            <li>Paypal</li>
                            <li>MailChimp</li>
                            <li>Google APIs</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 50%; top: 937.999px;">
                <div class="card body-section">
                    <div class="card-body">
                        <h5 class="card-title">Data Visualizations</h5>
                        <p>I can create charts that match your custom style. The visual output is a scalable vector graphic.</p>
                        <ul id="data-vis-example">
                            <li>Bar Graphs / Line Charts / <nobr> Donut Charts</nobr></li>
                            <li>Scatter Plots / Heat Maps / Bubble Graphs</li>
                            <li>Geographical Maps / Data over Maps</li>
                            <li>Other diagrams</li>
                        </ul>

                    </div>
                </div>

            </div>

        </div>

    </div>

    <div class="" style="height: 3rem;"></div>

    @* More svg def *@
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <defs>
            <symbol id="check" viewBox="0 0 16 16" fill="currentColor">
                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-4.5 5a.75.75 0 0 1-1.08 0l-2.5-2.5a.75.75 0 1 1 1.06-1.06L7 9.44l3.97-4.47z" />
            </symbol>
        </defs>
    </svg>


    
</div>

