@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="bd-example m-0 border-0">

    <h2 class="text-center wo-body-background m-0 ff-consolas">Testimonials</h2>
    <div id="carouselExample" class="carousel slide pointer-event">
        <div class="carousel-inner wo-body-background">
            <style>
                .carousel-item {
                    height: fit-content;
                    min-height: 300px;
                    width: 100%;
                }

                .carousel i {
                    color: var(--bs-emphasis-color)
                }

                .carousel .container {
                    height: 100%
                }

            </style>


            <div class="carousel-item active">
                <div class="container d-flex justify-content-center align-items-center text-center ">

                    <div class="d-flex flex-column align-items-center card border-info bg-none  body-section my-5">
                        <div class="card-body px-5 py-3 " style="max-width:400px;">


                            <div class=" mb-5 mb-md-0">
                                <div class="d-flex justify-content-center mb-4">


                                    <div id="ghost-img"></div>
                                    <img src="./images/clients/openhand.png" class=" img-fluid shadow-1-strong " alt="Client Image" width="130" height="130">
                                </div>
                                <h5 class="mb-3">Gig Harbor Open Studio Tour</h5>
                                <button class="btn btn-outline-info btn-sm  mb-3">Learn about this project</button>
                                <p class="px-xl-3">
                                    <i class="fas fa-quote-left pe-2"></i>
                                    Will redesigned our website and took it from a simple, static platform to an up-to-date platform with interactive features.  We are very happy with the results!
                                    <i class="fas fa-quote-right ps-2"></i>
                                </p>
                                <ul class="list-unstyled d-flex justify-content-center mb-0">
                                    <li>
                                        <i class="fas fa-star fa-sm text-warning"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star fa-sm text-warning"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star fa-sm text-warning"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star fa-sm text-warning"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star fa-sm text-warning"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="carousel-item">
                <div class="container d-flex justify-content-center align-items-center text-center ">

                    <div class="d-flex flex-column align-items-center card border-info bg-none  body-section my-5">
                        <div class="card-body wo-body-background px-5 py-3 " style="max-width:600px;">


                            <div class=" mb-5 mb-md-0">
                                <div class="d-flex justify-content-center mb-4">


                                    <div id="ghost-img"></div>
                                    <img src="./images/clients/bo-wc.jpg" class="rounded-circle img-fluid shadow-1-strong " alt="Client Image" width="130" height="130">
                                </div>
                                <h5 class="mb-3">Beth Owen Watercolors</h5>
                                <button class="btn btn-outline-info btn-sm  mb-3">Learn about this project</button>
                                <p class="px-xl-3">
                                    <i class="fas fa-quote-left pe-2"></i>
                                    I am thankful that Will designed my website.  I just told him what I wanted and he did the rest!  He also designed a separate program that enabled me to collect customer emails  on a tablet at my art shows, which would automatically integrate into my mailing list.  Happy customer!
                                    <i class="fas fa-quote-right ps-2"></i>
                                </p>
                                <ul class="list-unstyled d-flex justify-content-center mb-0">
                                    <li>
                                        <i class="fas fa-star fa-sm text-warning"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star fa-sm text-warning"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star fa-sm text-warning"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star fa-sm text-warning"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star fa-sm text-warning"></i>

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <div class="carousel-item">
                <div class="container d-flex justify-content-center align-items-center text-center ">

                    <div class="d-flex flex-column align-items-center card border-info bg-none  body-section my-5">
                        <div class="card-body wo-body-background px-5 py-3 " style="max-width:600px;">


                            <div class=" mb-5 mb-md-0">
                                <div class="d-flex justify-content-center mb-4">



                                    <img src="./images/clients/cactus-flower.svg" class=" img-fluid shadow-1-strong " alt="Client Image" width="130" height="130">
                                </div>
                                <h5 class="mb-3">Cactus Flower Digital Solutions</h5>
                                <button class="btn btn-outline-info btn-sm  mb-3">Learn about this project</button>
                                <p class="px-xl-3">
                                    <i class="fas fa-quote-left pe-2"></i>
                                    We are a small team, so Will’s role was not limited to programming, but encompassed all aspects of the software development process: project planning, UI/UX design, data model design, documentation, etc. He demonstrated flexibility in taking on any project-related task with enthusiasm.
                                    <i class="fas fa-quote-right ps-2"></i>
                                </p>
                                <ul class="list-unstyled d-flex justify-content-center mb-0">
                                    <li>
                                        <i class="fas fa-star fa-sm text-warning"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star fa-sm text-warning"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star fa-sm text-warning"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star fa-sm text-warning"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star fa-sm text-warning"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <div class="carousel-item">
                <div class="container d-flex justify-content-center align-items-center text-center ">

                    <div class="d-flex flex-column align-items-center card border-info bg-none  body-section my-5">
                        <div class="card-body wo-body-background px-5 py-3 " style="max-width:400px;">


                            <div class=" mb-5 mb-md-0">
                                <div class="d-flex justify-content-center mb-4">


                                    <div id="ghost-img"></div>
                                    <img src="./images/clients/upwork.png" class=" img-fluid shadow-1-strong " alt="Client Image" width="130" height="130">
                                </div>
                                <h5 class="mb-3">V N</h5>
                                @* <button class="btn btn-outline-info btn-sm  mb-3">Learn about this project</button> *@
                                <p class="px-xl-3">
                                    <i class="fas fa-quote-left pe-2"></i>
                                    Excellent in every respect. Hire this guy and you will not go wrong.
                                    <i class="fas fa-quote-right ps-2"></i>
                                </p>
                                <ul class="list-unstyled d-flex justify-content-center mb-0">
                                    <li>
                                        <i class="fas fa-star fa-sm text-warning"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star fa-sm text-warning"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star fa-sm text-warning"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star fa-sm text-warning"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star fa-sm text-warning"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <div class="carousel-item">
                <div class="container d-flex justify-content-center align-items-center text-center ">

                    <div class="d-flex flex-column align-items-center card border-info bg-none  body-section my-5">
                        <div class="card-body wo-body-background px-5 py-3 " style="max-width:400px;">


                            <div class=" mb-5 mb-md-0">
                                <div class="d-flex justify-content-center mb-4">


                                    <div id="ghost-img"></div>
                                    <img src="./images/clients/upwork.png" class=" img-fluid shadow-1-strong " alt="Client Image" width="130" height="130">
                                </div>
                                <h5 class="mb-3">Cactus Flower Digital Solutions</h5>
                                @* <button class="btn btn-outline-info btn-sm  mb-3">Learn about this project</button> *@
                                <p class="px-xl-3">
                                    <i class="fas fa-quote-left pe-2"></i>
                                    Will did such a good job that I hired him full time. I look forward to continued work with him.
                                    <i class="fas fa-quote-right ps-2"></i>
                                </p>
                                <ul class="list-unstyled d-flex justify-content-center mb-0">
                                    <li>
                                        <i class="fas fa-star fa-sm text-warning"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star fa-sm text-warning"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star fa-sm text-warning"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star fa-sm text-warning"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star fa-sm text-warning"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>



        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev" fdprocessedid="qvo6i6">
            @* <span class="carousel-control-prev-icon" aria-hidden="true"></span> *@
            <i class="fa fa-caret-left fs-1"></i>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next" fdprocessedid="re7vc">
            @* <span class="carousel-control-next-icon" aria-hidden="true"></span> *@

            <i class="fa fa-caret-right fs-1 "></i>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

</div>

