@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Projects";
    ViewData["DropdownText"] = "You are viewing my Projects page";
    ViewData["Page"] = "projects";
}

<div class="container mt-5">

    <div class="row">
        <div class="col-12 mb-4">
            <div class="card text-center p-3 border-info">
                <figure class="mb-0">
                    <blockquote class="blockquote m-0 fw-bold">
                        <p>
                            <i class="fas fa-quote-left pe-2"></i>
                            Shaping the digital world to benefit people, not just big businesses.
                            <i class="fas fa-quote-right ps-2"></i>
                        </p>
                    </blockquote>

                </figure>
            </div>
        </div>
    </div>

    <div class="row " data-masonry="{&quot;percentPosition&quot;: true }">

        <div class="col-md-6 col-12 mb-4">
            <div class="card">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
                <div class="card-body">
                    <h5 class="card-title">Gig Harbor Open Studio Tour</h5>
                    <p class="card-text">Committee delegation software for organizing assets, collecting payments, and delegating roles.</p>

                </div>
            </div>
        </div>
        <div class="col-md-6 col-12 mb-4">
            <div class="card p-3">
                <figure class="p-3 mb-0">
                    <blockquote class="blockquote">
                        <p>Atlas - The Public Think Tank</p>
                    </blockquote>
                    <i> Work in Progress </i>
                  
                </figure>
            </div>
        </div>

        <div class="col-md-6 col-12 mb-4">
            <div class="card">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
                <div class="card-body">
                    <h5 class="card-title">Card tit</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-12 mb-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Finance Tracker App</h5>
                    <p class="card-text">
                        A Windows Forms App to manage expenses, budgets, and financial goals.
                    </p>
                    
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-12 mb-4">
            <div class="card text-center p-3 border-info">
                <figure class="mb-0">
                    <blockquote class="blockquote m-0 fw-bold">
                        <p>
                            A smarter web for a better world—one project at a time
                        </p>
                    </blockquote>

                </figure>
            </div>
        </div>
    </div>


    @* <div class="row"> *@
    @*     <div class="col-12 mb-4"> *@
    @*         <div class="card text-bg-primary text-center p-3"> *@
    @*             <figure class="mb-0"> *@
    @*                 <blockquote class="blockquote"> *@
    @*                     <p> *@
    @*                         Innovation isn’t just about technology—it’s about empowering people through the web *@
    @*                         </p> *@
    @*                 </blockquote> *@

    @*             </figure> *@
    @*         </div> *@
    @*     </div> *@
    @* </div> *@

    @* <div class="row"> *@
    @*     <div class="col-12 mb-4"> *@
    @*         <div class="card text-bg-primary text-center p-3"> *@
    @*             <figure class="mb-0"> *@
    @*                 <blockquote class="blockquote"> *@
    @*                     <p> *@
    @*                         Code is the tool, impact is the goal. *@
    @*                     </p> *@
    @*                 </blockquote> *@

    @*             </figure> *@
    @*         </div> *@
    @*     </div> *@
    @* </div> *@


 

    @* <div class="row"> *@
    @*     <div class="col-12 mb-4"> *@
    @*         <div class="card text-bg-primary text-center p-3"> *@
    @*             <figure class="mb-0"> *@
    @*                 <blockquote class="blockquote"> *@
    @*                     <p>Every line of code is a step toward a smarter, more inclusive, and sustainable world.</p> *@
    @*                 </blockquote> *@
    @*                 @* <figcaption class="blockquote-footer mb-0 text-white"> *@ 
    @*                 @*     <cite title="Source Title">William Owen</cite> *@ 
    @*                 @* </figcaption> *@ 
    @*             </figure> *@
    @*         </div> *@
    @*     </div> *@
    @* </div> *@

</div>
