@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Projects";
    ViewData["DropdownText"] = "You are viewing my Projects page";
    ViewData["Page"] = "projects";
}

<div class="container mt-5">

    <div class="row">
        <div class="col-12 mb-4 ff-consolas">
            <div class="card text-center p-3 border-info">
                <figure class="mb-0">
                    <blockquote class="blockquote m-0 fw-bold">
                        <p>
                            <i class="fas fa-quote-left pe-2"></i>
                            Shaping the digital world to benefit people, not just big businesses.
                            <i class="fas fa-quote-right ps-2"></i>
                        </p>
                    </blockquote>

                </figure>
            </div>
        </div>
    </div>
    <style>
        a {
            text-decoration: none;
        }
    </style>
    <div id="masonry-container" class="row " data-masonry="{&quot;percentPosition&quot;: true }">

        <div class="project-card col-md-6 col-12 mb-4 ">
            <div class="card">
                <div class="card-body">
                    <img class="w-25 mx-auto d-block" src="~/images/clients/openhand.png" />
                    <h5 class="card-title text-center mb-0">Gig Harbor Open Studio Tour</h5>
                    <small class="text-center d-block fw-bold mb-3">Artist Portal</small>
                    <p class="card-text">Committee delegation software for organizing assets, collecting payments, and delegating roles.</p>
                    <p class="card-text">GHOST uses this as a central hub as they prep for the upcoming tour season, and the website caters to ~ 30 - 50 individuals in this committee. </p>
                    <p class="card-text">This software improved their workflow by acting as a hub for collecting info, but also by automating the generation of spreadsheets with GHOST member contract data.</p>
                    <p class="card-text">Features also include being able to edit the content details in the website and delating permissions and roles.</p>
                    <a asp-area="" asp-controller="projects" asp-action="projects" asp-route-id="gig-harbor-open-studio-tour">

                        <button class="btn btn-secondary btn-sm mx-auto d-block">Take a Look</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="project-card col-md-6 col-12 mb-4 ">
            <div class="card">
                <div class="card-body">
                    <img style="height: 163px" class="rounded-2 d-block mx-auto" src="./images/clients/cactus-flower.svg" alt="Cactus Flower Apps Logo">

                    <h5 class="card-title text-center mb-0">Gig Harbor Open Studio Tour</h5>
                    <small class="text-center d-block fw-bold mb-3">A Collaboration</small>


                    <p class="card-text mt-3">In what became a contract-to-hire position, I spent a year collaborating one-on-one with another entrepreneur, gaining valuable experience in product delivery. </p>
                    <p>One key lesson I learned is the importance of structuring project resources from the start. By consolidating all assets within a dedicated Google Account, every tool, document, and integration remains centralized—making it easy to transfer ownership to the client when needed.</p>
                    <p>
                        Other experiences included a deep dive into Google Apps Script (GAS), which became a defining moment for me and my client. We immediately clicked, knowing this would be a great collaboration. The GAS library serves as a gateway to powerful automation tools, turning any Gmail account into a central hub for streamlining business workflows.
                    </p>

                    @* <a asp-area="" asp-controller="projects" asp-action="projects" asp-route-id="beth-owen-watercolors"> *@
                    <button class="btn btn-secondary btn-sm mx-auto d-block">My Letter of Recommendation</button>
                    @* </a> *@
                </div>
            </div>
        </div>
        <div class="project-card col-md-6 col-12 mb-4">
            <div class="card">
                <div class="card-body">
                    <img style="" class="w-100 rounded-2 d-block mx-auto" src="./images/clients/art-website-preview-2.svg" alt="Beth Owen Watercolors">
                    <a class="text-center d-block" href="https://bethowenwatercolors.com/" target="_blank">www.bethowenwatercolors.com</a>
                    <p class="card-text mt-3">This "ArtStore" website is the first of its kind. I built it with a custom CMS that I designed as a no-code solution for building websites.</p>
                    <p>The code I write empowers my clients with creative freedom.</p>
                    <p>This solution gives the client complete control over customizing their website, even after I deliver the final product. They used it to build an art website, but it can be used to create any website that requires a similar storefront.</p>
                    <p>One of the key requirements for this project was that I wouldn't need to step in later to update content, create new pages, rearrange sections, add images, etc. These are all features the client can manage independently through built-in editors.</p>
                    <p>Another advantage of this project—one that you can benefit from—is that I designed it to be plug-and-play, making it easy to spin up new websites quickly.</p>
                    <a asp-area="" asp-controller="projects" asp-action="projects" asp-route-id="beth-owen-watercolors">
                        <button class="btn btn-secondary btn-sm mx-auto d-block">Take a Look</button>
                    </a>
                </div>
            </div>
        </div>

        <div class="project-card col-md-6 col-12 mb-4">
            <div class="card">
                <style>
                    #cloverPark {
                        clip-path: polygon(3% 24%, 99% 24%, 99% 48%, 99% 48%,99% 86%, 59% 86%, 51% 75%, 3% 75%);
                        margin-top: calc(-10%);
                        margin-bottom: calc(-14%);
                    }
                </style>
                <img id="cloverPark" class="pe-3 card-img-top" src="~/images/projects/clover-park.jpg" />
                <div class="card-body">
                    <h5 class="card-title">Projects for School</h5>
                    <p class="card-text">I'm currently attending Clover Park Technical College and loving the journey. Sure, I need a degree to check the box for big companies—that’s their requirement, not mine. But this also gives me the perfect opportunity to work on the ambitious projects that first got me into programming.</p>



                    <p>So, I’m making the most of it—learning professional workflows while building a series of projects, each laying the groundwork for something even bigger.</p>


                    <button class="btn btn-secondary btn-sm mx-auto d-block">Check out my coursework and projects</button>
                </div>
            </div>
        </div>

        <div class="project-card col-md-6 col-12 mb-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Finance Tracker App</h5>
                    <p class="card-text">
                        A Windows Forms App to manage expenses, budgets, and financial goals.
                    </p>

                </div>
            </div>

        </div>
    </div>


    <div class="row">
        <div class="ff-consolas col-12 mb-4">
            <div class="card text-center p-3 border-info">
                <figure class="mb-0">
                    <blockquote class="blockquote m-0 fw-bold">
                        <p>
                            <i class="fas fa-quote-left pe-2"></i>
                            A smarter web for a better world—one project at a time
                            <i class="fas fa-quote-right ps-2"></i>
                        </p>
                    </blockquote>

                </figure>
            </div>
        </div>
    </div>

  @Html.Partial("./_project-previews/_atlas-preview.cshtml")


    @* <div class="row"> *@
    @*     <div class="col-12 mb-4"> *@
    @*         <div class="card text-bg-primary text-center p-3"> *@
    @*             <figure class="mb-0"> *@
    @*                 <blockquote class="blockquote"> *@
    @*                     <p> *@
    @*                         Innovation isn’t just about technology—it’s about empowering people through the web *@
    @*                         </p> *@
    @*                 </blockquote> *@

    @*             </figure> *@
    @*         </div> *@
    @*     </div> *@
    @* </div> *@

    @* <div class="row"> *@
    @*     <div class="col-12 mb-4"> *@
    @*         <div class="card text-bg-primary text-center p-3"> *@
    @*             <figure class="mb-0"> *@
    @*                 <blockquote class="blockquote"> *@
    @*                     <p> *@
    @*                         Code is the tool, impact is the goal. *@
    @*                     </p> *@
    @*                 </blockquote> *@

    @*             </figure> *@
    @*         </div> *@
    @*     </div> *@
    @* </div> *@




    @* <div class="row"> *@
    @*     <div class="col-12 mb-4"> *@
    @*         <div class="card text-bg-primary text-center p-3"> *@
    @*             <figure class="mb-0"> *@
    @*                 <blockquote class="blockquote"> *@
    @*                     <p>Every line of code is a step toward a smarter, more inclusive, and sustainable world.</p> *@
    @*                 </blockquote> *@
    @*                 @* <figcaption class="blockquote-footer mb-0 text-white"> *@ 
    @*                 @*     <cite title="Source Title">William Owen</cite> *@ 
    @*                 @* </figcaption> *@ 
    @*             </figure> *@
    @*         </div> *@
    @*     </div> *@
    @* </div> *@

</div>


@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"></script>
    <script>
        window.onload = function () {




            var elem = document.querySelector('#masonry-container');
            var msnry = new Masonry(elem, {
                // options
                itemSelector: '.project-card',
                percentPosition: true
            });
        };
    </script>
}
