@{
    ViewData["Title"] = "Home Page";
    ViewData["DropdownText"] = "Welcome to my website";
    ViewData["Page"] = "home";
}

@section Scripts {
    <script src="~/js/PricingChart.js"></script>
}


@* The first header section *@
<div class="b-example-divider"></div>

@Html.Partial("./_partials/_hero.cshtml")

<div class="b-example-divider"></div>

@Html.Partial("./_partials/_my-offers.cshtml")

<div class="b-example-divider"></div>

@Html.Partial("./_partials/_things-i-could-build.cshtml")


<div class="b-example-divider"></div>
<div class="bd-example m-0 border-0">
    
    <h2 class="text-center wo-body-background m-0">Testimonials</h2>
<div id="carouselExample" class="carousel slide pointer-event">
  <div class="carousel-inner wo-body-background">
      <style>
          .carousel-item {
            height: fit-content;
            min-height: 300px;
            width: 100%;
          }
          .carousel i {
          color: var(--bs-emphasis-color)
          }
          .carousel .container {
          
          height: 100%}

      </style>
   
  
  <div class="carousel-item active">
       <div class="container d-flex justify-content-center align-items-center text-center ">

          <div class="d-flex flex-column align-items-center card border-info bg-none  body-section my-5" >
              <div class="card-body wo-body-background px-5 py-3 " style="max-width:400px;" >

           
                 <div class=" mb-5 mb-md-0">
          <div class="d-flex justify-content-center mb-4">
  

            <div id="ghost-img"></div>
            <img src="./images/clients/openhand.png" class=" img-fluid shadow-1-strong " alt="Client Image" width="130" height="130">
          </div>
          <h5 class="mb-3">Gig Harbor Open Studio Tour</h5>
          <button class="btn btn-outline-info btn-sm  mb-3">Learn about this project</button>
          <p class="px-xl-3">
            <i class="fas fa-quote-left pe-2"></i>
            Will redesigned our website and took it from a simple, static platform to an up-to-date platform with interactive features.  We are very happy with the results!
             <i class="fas fa-quote-right ps-2"></i>
          </p>
          <ul class="list-unstyled d-flex justify-content-center mb-0">
            <li>
              <i class="fas fa-star fa-sm text-warning"></i>
            </li>
            <li>
              <i class="fas fa-star fa-sm text-warning"></i>
            </li>
            <li>
              <i class="fas fa-star fa-sm text-warning"></i>
            </li>
            <li>
              <i class="fas fa-star fa-sm text-warning"></i>
            </li>
            <li>
                  <i class="fas fa-star fa-sm text-warning"></i>
            </li>
          </ul>
        </div>
           </div>
          </div>
      </div>

    </div>

      <div class="carousel-item">
       <div class="container d-flex justify-content-center align-items-center text-center ">

          <div class="d-flex flex-column align-items-center card border-info bg-none  body-section my-5" >
              <div class="card-body wo-body-background px-5 py-3 " style="max-width:600px;" >

           
                 <div class=" mb-5 mb-md-0">
          <div class="d-flex justify-content-center mb-4">
  

            <div id="ghost-img"></div>
            <img src="./images/clients/bo-wc.jpg" class="rounded-circle img-fluid shadow-1-strong " alt="Client Image" width="130" height="130">
          </div>
          <h5 class="mb-3">Beth Owen Watercolors</h5>
          <button class="btn btn-outline-info btn-sm  mb-3">Learn about this project</button>
          <p class="px-xl-3">
            <i class="fas fa-quote-left pe-2"></i>
            I am thankful that Will designed my website.  I just told him what I wanted and he did the rest!  He also designed a separate program that enabled me to collect customer emails  on a tablet at my art shows, which would automatically integrate into my mailing list.  Happy customer!
             <i class="fas fa-quote-right ps-2"></i>
          </p>
          <ul class="list-unstyled d-flex justify-content-center mb-0">
            <li>
              <i class="fas fa-star fa-sm text-warning"></i>
            </li>
            <li>
              <i class="fas fa-star fa-sm text-warning"></i>
            </li>
            <li>
              <i class="fas fa-star fa-sm text-warning"></i>
            </li>
            <li>
              <i class="fas fa-star fa-sm text-warning"></i>
            </li>
            <li>
                  <i class="fas fa-star fa-sm text-warning"></i>
              
            </li>
          </ul>
        </div>
           </div>
          </div>
      </div>

    </div>

 
       <div class="carousel-item">
       <div class="container d-flex justify-content-center align-items-center text-center ">

          <div class="d-flex flex-column align-items-center card border-info bg-none  body-section my-5" >
              <div class="card-body wo-body-background px-5 py-3 " style="max-width:600px;" >

           
                 <div class=" mb-5 mb-md-0">
          <div class="d-flex justify-content-center mb-4">
  

           
            <img src="./images/clients/cactus-flower.svg" class=" img-fluid shadow-1-strong " alt="Client Image" width="130" height="130">
          </div>
          <h5 class="mb-3">Cactus Flower Digital Solutions</h5>
          <button class="btn btn-outline-info btn-sm  mb-3">Learn about this project</button>
          <p class="px-xl-3">
            <i class="fas fa-quote-left pe-2"></i>
            We are a small team, so Will’s role was not limited to programming, but encompassed all aspects of the software development process: project planning, UI/UX design, data model design, documentation, etc. He demonstrated flexibility in taking on any project-related task with enthusiasm.
             <i class="fas fa-quote-right ps-2"></i>
          </p>
          <ul class="list-unstyled d-flex justify-content-center mb-0">
            <li>
              <i class="fas fa-star fa-sm text-warning"></i>
            </li>
            <li>
              <i class="fas fa-star fa-sm text-warning"></i>
            </li>
            <li>
              <i class="fas fa-star fa-sm text-warning"></i>
            </li>
            <li>
              <i class="fas fa-star fa-sm text-warning"></i>
            </li>
            <li>
              <i class="fas fa-star fa-sm text-warning"></i>
            </li>
          </ul>
        </div>
           </div>
          </div>
      </div>

    </div>

 
       <div class="carousel-item">
       <div class="container d-flex justify-content-center align-items-center text-center ">

          <div class="d-flex flex-column align-items-center card border-info bg-none  body-section my-5" >
              <div class="card-body wo-body-background px-5 py-3 " style="max-width:400px;" >

           
                 <div class=" mb-5 mb-md-0">
          <div class="d-flex justify-content-center mb-4">
  

            <div id="ghost-img"></div>
            <img src="./images/clients/upwork.png" class=" img-fluid shadow-1-strong " alt="Client Image" width="130" height="130">
          </div>
          <h5 class="mb-3">V N</h5>
          @* <button class="btn btn-outline-info btn-sm  mb-3">Learn about this project</button> *@
          <p class="px-xl-3">
            <i class="fas fa-quote-left pe-2"></i>
            Excellent in every respect. Hire this guy and you will not go wrong.
             <i class="fas fa-quote-right ps-2"></i>
          </p>
          <ul class="list-unstyled d-flex justify-content-center mb-0">
            <li>
              <i class="fas fa-star fa-sm text-warning"></i>
            </li>
            <li>
              <i class="fas fa-star fa-sm text-warning"></i>
            </li>
            <li>
              <i class="fas fa-star fa-sm text-warning"></i>
            </li>
            <li>
              <i class="fas fa-star fa-sm text-warning"></i>
            </li>
            <li>
              <i class="fas fa-star fa-sm text-warning"></i>
            </li>
          </ul>
        </div>
           </div>
          </div>
      </div>

    </div>

 
     <div class="carousel-item">
       <div class="container d-flex justify-content-center align-items-center text-center ">

          <div class="d-flex flex-column align-items-center card border-info bg-none  body-section my-5" >
              <div class="card-body wo-body-background px-5 py-3 " style="max-width:400px;" >

           
                 <div class=" mb-5 mb-md-0">
          <div class="d-flex justify-content-center mb-4">
  

            <div id="ghost-img"></div>
            <img src="./images/clients/upwork.png" class=" img-fluid shadow-1-strong " alt="Client Image" width="130" height="130">
          </div>
          <h5 class="mb-3">Cactus Flower Digital Solutions</h5>
          @* <button class="btn btn-outline-info btn-sm  mb-3">Learn about this project</button> *@
          <p class="px-xl-3">
            <i class="fas fa-quote-left pe-2"></i>
            Will did such a good job that I hired him full time. I look forward to continued work with him.
              <i class="fas fa-quote-right ps-2"></i>
          </p>
          <ul class="list-unstyled d-flex justify-content-center mb-0">
            <li>
              <i class="fas fa-star fa-sm text-warning"></i>
            </li>
            <li>
              <i class="fas fa-star fa-sm text-warning"></i>
            </li>
            <li>
              <i class="fas fa-star fa-sm text-warning"></i>
            </li>
            <li>
              <i class="fas fa-star fa-sm text-warning"></i>
            </li>
            <li>
              <i class="fas fa-star fa-sm text-warning"></i>
            </li>
          </ul>
        </div>
           </div>
          </div>
      </div>

    </div>

 

</div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev" fdprocessedid="qvo6i6">
    @* <span class="carousel-control-prev-icon" aria-hidden="true"></span> *@
    <i class="fa fa-caret-left fs-1"></i>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next" fdprocessedid="re7vc">
    @* <span class="carousel-control-next-icon" aria-hidden="true"></span> *@

<i class="fa fa-caret-right fs-1 "></i>
    <span class="visually-hidden">Next</span>
  </button>
</div>

  </div>
<div class="b-example-divider"></div>

<div class="wo-body-background">

    <div class="container body-section bg-body card">
            @* Hero/Signup form *@
        <div class="container px-4 py-5">
            <div class="row align-items-center g-lg-5 py-5">
                <div class="col-lg-7 text-center text-lg-start">
                    <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">Sign up for a newsletter</h1>
                    <p class="col-lg-10 fs-4">When I build cool projects that I'd like to share I will make announcements. If you'd like to be one of the first to get updates, let me know by signing up here.</p>
                </div>
                <div class="col-md-10 mx-auto col-lg-5">
                    <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" fdprocessedid="tnt28b">
                            <label for="floatingInput">Email address</label>
                        </div>


                        <button class="w-100 btn btn-lg btn-primary" type="submit" fdprocessedid="s0qjmb">Sign up for newsletter</button>
                        [Todo: Add Google ReCaptcha]
                        <hr class="my-4">
                        <small class="text-body-secondary">By clicking Sign up, you agree to the terms to periodically receive emails from me.</small>
                    </form>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="b-example-divider"></div>

