@{
    ViewData["Title"] = "Home Page";
}


@* The first header section *@
<div class="b-example-divider"></div>

<div class="body-section">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center  w-100">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1 text-body-emphasis">Need a website, PC program, or mobile app? </h1>
            <p class="lead mb-0">I build tailored solutions for your needs.</p>
            <p class="lead">Let’s bring your idea to life with custom development.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold" fdprocessedid="kjn4c">Get in touch today!</button>
                <button type="button" class="btn btn-outline-secondary btn-lg px-4" fdprocessedid="9lmjej">See what I can do</button>
            </div>
        </div>
        <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden d-none d-lg-block">
            <img class="rounded-lg-3" src="/images/William.svg" alt="" width="72">
        </div>
    </div>
</div>


<div class="b-example-divider"></div>

<div class="wo-body-background">

    <div class="container body-section bg-body ">



        <h2 class="display-6 text-center mb-4">My Offers</h2>


        @* The plans for services *@
        <div class="row text-center flex-column flex-md-row ">
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Work for Trade – Open to Barter!</h4>
                    </div>
                    <div class="card-body">

                        <ul class="list-unstyled mt-3 mb-4">
                            <li>I’m offering my skills in [list your skills/services, e.g., web development, graphic design, technical support, etc.] in exchange for goods or services. If you have something valuable to trade instead of cash... </li>

                        </ul>
                        <button type="button" class="w-100 btn btn-lg btn-outline-primary">Let’s talk!</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Premium Web Services</h4>
                    </div>
                    <div class="card-body">
                        <h6>What You Get:</h6>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Reliable Hosting</li>
                            <li>Custom Features</li>
                            <li>Priority Support</li>
                            <li>Secure Transactions</li>
                        </ul>

                        <h2>Pricing Plans</h2>
                        
                        <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
                            <div class="list-group list-group-radio d-grid gap-2 border-0">
                                <div class="position-relative">
                                    <input class="form-check-input position-absolute top-50 end-0 me-3 fs-5" type="radio" name="listGroupRadioGrid" id="listGroupRadioGrid1" value="" checked="">
                                    <label class="list-group-item py-3 pe-5" for="listGroupRadioGrid1">
                                        <strong class="fw-semibold">First radio</strong>
                                        <span class="d-block small opacity-75">With support text underneath to add more detail</span>
                                    </label>
                                </div>

                                <div class="position-relative">
                                    <input class="form-check-input position-absolute top-50 end-0 me-3 fs-5" type="radio" name="listGroupRadioGrid" id="listGroupRadioGrid2" value="">
                                    <label class="list-group-item py-3 pe-5" for="listGroupRadioGrid2">
                                        <strong class="fw-semibold">Second radio</strong>
                                        <span class="d-block small opacity-75">Some other text goes here</span>
                                    </label>
                                </div>

                                <div class="position-relative">
                                    <input class="form-check-input position-absolute top-50 end-0 me-3 fs-5" type="radio" name="listGroupRadioGrid" id="listGroupRadioGrid3" value="">
                                    <label class="list-group-item py-3 pe-5" for="listGroupRadioGrid3">
                                        <strong class="fw-semibold">Third radio</strong>
                                        <span class="d-block small opacity-75">And we end with another snippet of text</span>
                                    </label>
                                </div>

                                <div class="position-relative">
                                    <input class="form-check-input position-absolute top-50 end-0 me-3 fs-5" type="radio" name="listGroupRadioGrid" id="listGroupRadioGrid4" value="" disabled="">
                                    <label class="list-group-item py-3 pe-5" for="listGroupRadioGrid4">
                                        <strong class="fw-semibold">Fourth disabled radio</strong>
                                        <span class="d-block small opacity-75">This option is disabled</span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <button type="button" class="w-100 btn btn-lg btn-primary">See Plans</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="b-example-divider"></div>

@* More svg def *@
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <defs>
        <symbol id="check" viewBox="0 0 16 16" fill="currentColor">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-4.5 5a.75.75 0 0 1-1.08 0l-2.5-2.5a.75.75 0 1 1 1.06-1.06L7 9.44l3.97-4.47z" />
        </symbol>
    </defs>
</svg>

<div class="wo-body-background">

    <div class="container body-section bg-body ">


        @* Compare plans table *@
        <div class="table-responsive container">
            <table class="table text-center">
                <thead>
                    <tr>
                        <th style="width: 34%;"></th>
                        <th style="width: 22%;">Free</th>
                        <th style="width: 22%;">Pro</th>
                        <th style="width: 22%;">Enterprise</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row" class="text-start">Public</th>
                        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
                        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
                        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-start">Private</th>
                        <td></td>
                        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
                        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
                    </tr>
                </tbody>
                <h2 class="display-6 text-center mb-4">Compare plans</h2>
                <tbody>
                    <tr>
                        <th scope="row" class="text-start">Permissions</th>
                        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
                        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
                        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-start">Sharing</th>
                        <td></td>
                        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
                        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-start">Unlimited members</th>
                        <td></td>
                        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
                        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-start">Extra security</th>
                        <td></td>
                        <td></td>
                        <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>

<div class="b-example-divider"></div>

<div class="wo-body-background">

    <div class="container body-section bg-body ">
        @* Hero/Signup form *@
        <div class="container px-4 py-5">
            <div class="row align-items-center g-lg-5 py-5">
                <div class="col-lg-7 text-center text-lg-start">
                    <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">Sign up for a newsletter</h1>
                    <p class="col-lg-10 fs-4">When I build cool projects that I'd like to share I will make announcements. If you'd like to be one of the first to get updates, let me know but signing up here.</p>
                </div>
                <div class="col-md-10 mx-auto col-lg-5">
                    <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" fdprocessedid="tnt28b">
                            <label for="floatingInput">Email address</label>
                        </div>


                        <button class="w-100 btn btn-lg btn-primary" type="submit" fdprocessedid="s0qjmb">Sign up for newsletter</button>
                        [Todo: Add Google ReCaptcha]
                        <hr class="my-4">
                        <small class="text-body-secondary">By clicking Sign up, you agree to the terms to periodically receive emails from me.</small>
                    </form>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="b-example-divider"></div>

